:root{
   --bright-orange: hsl(31, 77%, 52%);
   --dark-cyan: hsl(184, 100%, 22%);
   --very-dark-cyan: hsl(179, 100%, 13%);
}
*{
    padding: 0; margin: 0; box-sizing: border-box;
    }
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body, button{
    font-family: "lexend Deca", sans-serif;
    
}
.bright-orange{
    background: var(--bright-orange);
    color: #fff;
    border-radius: 10px 10px 0px 0px ;
}
.dark-cyan{
    background: var(--dark-cyan);
    color: #fff;
}
.very-dark-cyan{
    background: var(--very-dark-cyan);
    color: #fff;
    border-radius: 0px 0px 10px 10px;
}
.card p{
    margin-bottom: 30px;
}

.card{
    padding: 30px;
}
.container{
    padding: 20px;
}
.card img{
    margin-bottom: 20px;
}
.card h2{
    margin-bottom: 10px;
    font-size: 30px;
    text-transform: uppercase;
}
.btn{
    background: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

p{
    font-size: 15px;
    line-height: 1.6rem;
}
.bright-orange .btn{
    color: var(--bright-orange);
}
.dark-cyan .btn{
    color: var(--dark-cyan);
}
.very-dark-cyan .btn{
    color: var(--very-dark-cyan);
}
.btn:hover{
    background: transparent;
    color: #fff;
}
@media (min-width:992px)
{
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        max-width: 900px;
        margin: auto;
    }
    .bright-orange{
        border-radius: 10px 0 0 10px;
    }
    .very-dark-cyan{
        border-radius: 0 10px 10px 0;
    }
    .card{
        height: 350px;
    }
}

